extends layouts/default

block content
  .jumbotron
    h1 'Allo, 'Allo!
    p.lead Always a pleasure scaffolding your apps.
    p: a.btn.btn-lg.btn-success(href='#') Splendid!

  .row
    .col-md-6.col-md-offset-3
      each feature in features
        h4= feature.title
        p= feature.description