{% extends 'layouts/default.njk' %}

{% block content %}
  <div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Always a pleasure scaffolding your apps.</p>
    <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% for feature in features %}
        <h4>{{ feature.title }}</h4>
        <p>{{ feature.description }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}